<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.mircosoderi.crushare"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CleanTheme">
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="-- Put your API KEY here --" />

        <activity android:name=".SendActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="it.mircosoderi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <activity android:name=".ContentActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="display" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditMessageActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SlideshowActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CounterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ArchiveActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>